<div class="ourexpertise bg-danger">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6 col-sm-12">
        <iframe
          width="500"
          height="315"
          src="https://www.youtube.com/embed/J0uzhptIFLw"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6 col-sm-12">
        <h2 class="text-white">OUR EXPERTISE</h2>
        <h3 class="text-white">
          Gamers around the world join us to promote one clan
        </h3>
        <p class="text-white">
          All the Lorem Ipsum generators on the Internet tend to repeat
          predefined chunks as necessary, making this the first true generator
          on the Internet.
        </p>
        <a class="btn btn-outline-info my-3 py-2">Join Our Team</a>
      </div>
    </div>
  </div>
</div>
