<div class="container joinus">
  <h2 class="text-danger text-center">WHY JOIN US?</h2>
  <h3 class="text-muted text-center py-4">
    Experienced players all around the world
  </h3>
  <div class="owl-carousel">
    <img src="../../assets/images/one.jpg" alt="our team" />
    <img src="../../assets/images/two.jpg" alt="our team" />
    <img src="../../assets/images/three.jpg" alt="our team" />
    <img src="../../assets/images/four.jpg" alt="our team" />
    <img src="../../assets/images/one.jpg" alt="our team" />
    <img src="../../assets/images/two.jpg" alt="our team" />
    <img src="../../assets/images/three.jpg" alt="our team" />
  </div>
</div>
