<div class="ourteam">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6 col-sm-12">
        <h2 class="text-danger">Meet Our Team</h2>
        <h3 class="my-3">Experienced players all around the world</h3>
        <p class="text-muted my-3">
          All the Lorem Ipsum generators on the Internet tend to repeat
          predefined chunks as necessary, making this the first true generator
          on the Internet.
        </p>
        <a class="btn btn-outline-danger py-2 my-3">Join Our Team</a>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="../../assets/images/team.jpg" />
      </div>
    </div>
  </div>
</div>
